@if (module(); as m) {
<div class="module-header">
    <button mat-icon-button routerLink="/dashboard" class="back-button">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="header-content">
        <h1>{{ m.title }}</h1>
        <p>{{ m.description }}</p>
    </div>
</div>

<mat-tab-group>
    <mat-tab label="Documents">
        <div class="tab-content">
            <div class="actions-bar">
                <button mat-raised-button color="primary" (click)="openUploadDialog()">
                    <mat-icon>upload_file</mat-icon> Upload Document
                </button>
            </div>



            <app-document-list [moduleId]="m.id"></app-document-list>
        </div>
    </mat-tab>
    <mat-tab label="Notes">
        <div class="tab-content">
            <app-notes-list [moduleId]="m.id" (quizGenerated)="onQuizGenerated()"></app-notes-list>
        </div>
    </mat-tab>
    <mat-tab label="Quizzes">
        <div class="tab-content">
            <app-quiz-list [moduleId]="m.id"></app-quiz-list>
        </div>
    </mat-tab>
</mat-tab-group>
} @else {
<div class="loading">
    <p>Loading module...</p>
</div>
}