.image-preview-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 70vh;
}

.image-preview-content img {
  max-width: 100%;
  max-height: 70vh;
  border-radius: 12px;
  object-fit: contain;
}
